.sidenav {
  width:100%;
  height: 100vh;
  background-color: #ffffff;
  transition: all .5s ease-in-out;
  z-index: 0s;
  top: 0;
  box-shadow: 0.2rem 0 .5rem rgba(62, 62, 62, 0.584);
}
.sidenav-logo{
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 2em;
}
.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.sidenav-nav-item {
  width: 100%;
  margin-bottom: 0.5rem;
}

.sidenav-nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: #f3f3f3;
  text-decoration: none;
  border-radius: 0.625rem;
  transition: all .3s ease;
}

.circle-hover:hover{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #252F69;
  border-radius: 50%;
}
.sidenav-link-icon {
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.5rem;
  text-align: center;
  color: #8E8EA1;
}

.sidenav-link-text {
  margin-left: 2rem;
  background-color: transparent;
  color: #8E8EA1;
  font-size: 16px;
  line-height: 19px;
}

.sidenav-link-text:hover{
  color: #22242C;
}

.sidenav-nav-link:hover {
  background-color: #f3f3f3;
  color: #22242C;
  border-radius: 0.625rem;
}

.nav-item-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.item-login-link i {
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.5rem;
  text-align: center;
  color: #8E8EA1;
  transition: all .3s ease-in-out;
}

@media only screen and (max-width: 480px) {
  .sidenav {
    width: auto;
    height: 100vh;
    background-color: #ffffff;
    transition: all .5s ease-in-out;
    z-index: 0;
    top: 0;
    box-shadow: 0.2rem 0 .5rem rgba(62, 62, 62, 0.584);
  }
  .sidenav-logo{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: 2em;
  }
  .sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  
  .sidenav-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: #f3f3f3;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: all .3s ease;
  }
  
  .circle-hover:hover{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #252F69;
    border-radius: 50%;
  }
  .sidenav-link-icon {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
    color: #8E8EA1;
  }
  
  .sidenav-link-text {
    display: none;
  }
  
  .sidenav-link-text:hover{
    color: #22242C;
  }
  
  .sidenav-nav-link:hover {
    background-color: #f3f3f3;
    color: #22242C;
    border-radius: 0.625rem;
  }
  
  .nav-item-login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .item-login-link i {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
    color: #8E8EA1;
    transition: all .3s ease-in-out;
  }
}

/* Smartphones (landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .sidenav {
    width: auto;
    height: 100vh;
    background-color: #ffffff;
    transition: all .5s ease-in-out;
    z-index: 0;
    top: 0;
    box-shadow: 0.2rem 0 .5rem rgba(62, 62, 62, 0.584);
  }
  .sidenav-logo{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: 2em;
  }
  .sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  
  .sidenav-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: #f3f3f3;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: all .3s ease;
  }
  
  .circle-hover:hover{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #252F69;
    border-radius: 50%;
  }
  .sidenav-link-icon {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
    color: #8E8EA1;
  }
  
  .sidenav-link-text {
    display: none;
  }
  
  .sidenav-link-text:hover{
    color: #22242C;
  }
  
  .sidenav-nav-link:hover {
    background-color: #f3f3f3;
    color: #22242C;
    border-radius: 0.625rem;
  }
  
  .nav-item-login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .item-login-link i {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
    color: #8E8EA1;
    transition: all .3s ease-in-out;
  }
}
