@media only screen and (min-width: 1200px) {
  /* Estilos para laptops y monitores de escritorio */

  .container_home {
    width: 100vw;
    background-color: #f8f6f6;
  }

  .form_home {
    height: 3.75em;
    margin-top: 1.8125em;
    margin-left: 3.125em;
  }

  .container_input_home {
    display: flex;
    background: #ffff;
    padding: 9px 22px 9px 26px;
    border-radius: 30px;
    border: 2px solid #cad3dc;
  }

  .input_search {
    width: 50vw;
    border: none;
    padding-left: 24px;
    background: transparent;
    background-size: 16px;
  }

  .input_search:focus {
    border: none;
  }

  .container_configuration,
  .container_notification,
  .container_perfil {
    width: 3.75em;
    height: 3.75em;
    border: 1px solid #dddddd;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
  }

  .container_configuration:hover {
    transform: rotate(45deg);
  }

  .bell:hover {
    animation: vibracion 0.3s ease;
  }

  @keyframes vibracion {
    0% {
      transform: translateX(0);
    }

    20% {
      transform: translateX(-2px) rotate(-1deg);
    }

    40% {
      transform: translateX(2px) rotate(1deg);
    }

    60% {
      transform: translateX(-2px) rotate(-1deg);
    }

    80% {
      transform: translateX(2px) rotate(1deg);
    }

    100% {
      transform: translateX(0);
    }
  }

  .notification {
    width: 0.625em;
    height: 0.625em;
    position: absolute;
    right: 140px;
    top: 29px;
    border-radius: 50%;
    background: #33418A;
  }

  .c-p {
    cursor: pointer;
  }

  /* =======CARDS===== */
  .container_card_home {
    width: 100%;
    padding: 3vw;
    height: auto;
    display: flex;
  }

  .card {
    width: 25vw;
    height: 35vh;
    padding: 40px;
    margin-left: 15px;
    border-radius: 20px;
    /* display: inline; */
    /* background: url(../../assets/55708631.png); */
  }

  .card_saldo {
    background: url(../../assets/fondo.avif);
  }

  .mi_saldo {
    font-size: 13.0236em;
    line-height: 16px;
    margin-left: 20px;
    display: flex;
  }

  .titular_vencimiento {
    display: flex;
  }

  .card_ingresos {
    display: flex;
    background: url(../../assets/55708631.png);
    background-position: 20%;
  }

  .card_egresos {
    background: url(../../assets/55708631.png);
    background-position: 20%;
  }

  .circle {
    width: 60px;
    height: 60px;
    background-color: #efefef;
    border-radius: 70%;
    display: flex;
    align-items: center;
  }

  /* =======ENDSCARDS======= */
  /* ========================== */
  /* ========================== */
  /* ========================== */
  /* ========================== */
  /* ========================== */
  /* =======BALANCE Y TRANSACTION======= */
  .container_balance {
    width: auto;
    border-radius: 30px;
  }

  .container_transacciones {
    width: 35em;
    height: 40vh;
    border-radius: 30px;
  }

  .ultimas-transacciones {
    border-radius: 30px;
  }

  th,
  td {
    font-size: 18px;
    line-height: 30px;
  }

  .container_prestamos {
    width: 100%;
    height: auto;
    padding: 1vw;
    border-radius: 30px;
    display: flex;
  }

  .container_prestamos table {
    border-radius: 5px;
  }
}

/* Tablets en modo landscape */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {

  /* Estilos para tablets en modo landscape */
  .container_home {
    width: 100%;
  }

  .container_input_home {
    display: flex;
    background: #ffff;
    padding: 9px 15px 9px 26px;
    border-radius: 30px;
    border: 2px solid #cad3dc;
  }

  .input_search {
    width: 30vw;
  }

  /* =======CARDS===== */
  .container_card_home {
    width: 100%;
    padding: 3vw;
    height: auto;
    display: flex;
  }

  .card {
    width: 90vw;
    height: 35vh;
    padding: 40px;
    margin-left: 0px;
    margin-bottom: 15px;
    border-radius: 20px;
  }

  .card_saldo {
    background: url(../../assets/fondo.avif);
  }

  .card_ingresos {
    display: flex;
    background: url(../../assets/55708631.png);
    background-position: 20%;
  }

  .card_egresos {
    background: url(../../assets/55708631.png);
    background-position: 20%;
  }

  .mi_saldo {
    font-size: 13.0236em;
    line-height: 16px;
    margin-left: 20px;
    display: flex;
  }

  .titular_vencimiento {
    display: flex;
  }

  /* =======ENDSCARDS======= */
  /* ========================== */
  /* ========================== */
  /* ========================== */
  /* ========================== */
  /* ========================== */
  /* =======BALANCE Y TRANSACTION======= */
  .container_balance {
    width: 90vw;
    border-radius: 30px;
    margin-bottom: 10px;
  }

  .container_transacciones {
    width: 90vw;
    height: 40vh;
    border-radius: 30px;
  }

  .container_prestamos {
    width: auto;
    height: auto;
    padding: 1vw;
    border-radius: 30px;
    display: flex;
  }

  .container_prestamos table {
    border-radius: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  /* Estilos para tablets en modo portrait */
  .container_home {
    width: 100%;
  }

  .container_input_home {
    display: flex;
    background: #ffff;
    padding: 9px 15px 9px 26px;
    border-radius: 30px;
    border: 2px solid #cad3dc;
  }

  .input_search {
    width: 30vw;
  }

  /* =======CARDS===== */
  .container_card_home {
    width: 100%;
    padding: 3vw;
    height: auto;
    display: flex;
  }

  .card {
    width: 90vw;
    height: 35vh;
    padding: 40px;
    margin-bottom: 15px;
    border-radius: 20px;

  }

  .card_saldo {
    background: url(../../assets/fondo.avif);
  }

  .mi_saldo {
    font-size: 13.0236em;
    line-height: 16px;
    margin-left: 20px;
    display: flex;
  }

  .titular_vencimiento {
    display: flex;
  }

  .card_ingresos {
    display: flex;
    background: url(../../assets/55708631.png);
    background-position: 20%;
  }

  .card_egresos {
    background: url(../../assets/55708631.png);
    background-position: 20%;
  }

  .circle {
    width: 60px;
    height: 60px;
    background-color: #efefef;
    border-radius: 70%;
    display: flex;
    align-items: center;
  }

  /* =======ENDSCARDS======= */
  /* ========================== */
  /* ========================== */
  /* ========================== */
  /* ========================== */
  /* ========================== */
  /* =======BALANCE Y TRANSACTION======= */
  .container_balance {
    width: 90vw;
    border-radius: 30px;
    margin-bottom: 10px;
  }

  .container_transacciones {
    width: 90vw;
    height: 40vh;
    border-radius: 30px;
  }

  .container_prestamos {
    width: auto;
    height: auto;
    padding: 1vw;
    border-radius: 30px;
    display: flex;
  }

  .container_prestamos table {
    border-radius: 5px;
  }
}



/* Smartphones en modo landscape (horizontal) */
@media only screen and (min-width: 481px) and (max-width: 767px) {

  /* Estilos para smartphones en modo landscape */
  .container_home {
    width: 90vw;
  }

  .form_home {
    height: 3.75em;
    margin-top: 1.8125em;
    margin-left: 3.125em;
  }

  .container_input_home {
    display: flex;
    background: #ffff;
    padding: 9px 22px 9px 26px;
    border-radius: 30px;
    border: 2px solid #cad3dc;
  }

  .input_search {
    width: 50vw;
    border: none;
    padding-left: 24px;
    background: transparent;
    background-size: 16px;
  }

  .input_search:focus {
    border: none;
  }

  .container_configuration,
  .container_notification,
  .container_perfil {
    width: 3.75em;
    height: 3.75em;
    border: 1px solid #dddddd;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
  }

  /* =======CARDS===== */
  .container_card_home {
    width: 100%;
    padding: 3vw;
    height: auto;
  }

  .card {
    width: 90vw;
    height: 35vh;
    padding: 40px;
    margin-left: 15px;
    border-radius: 20px;
  }

  .card_saldo {
    background: url(../../assets/fondo.avif);
  }

  .mi_saldo {
    font-size: 13.0236em;
    line-height: 16px;
    margin-left: 20px;
    display: flex;
  }

  .titular_vencimiento {
    display: flex;
  }

  .card_ingresos {
    display: flex;
    background: url(../../assets/55708631.png);
    background-position: 20%;
  }

  .card_egresos {
    background: url(../../assets/55708631.png);
    background-position: 20%;
  }

  .circle {
    width: 60px;
    height: 60px;
    background-color: #efefef;
    border-radius: 70%;
    display: flex;
    align-items: center;
  }

  /* =======ENDSCARDS======= */
  /* ========================== */
  /* ========================== */
  /* ========================== */
  /* ========================== */
  /* ========================== */
  /* =======BALANCE Y TRANSACTION======= */
  .container_balance {
    width: 90vw;
    border-radius: 30px;
    margin-bottom: 10px;
  }

  .container_transacciones {
    width: 90vw;
    height: 40vh;
    border-radius: 30px;
  }

  .container_prestamos {
    width: auto;
    height: auto;
    padding: 1vw;
    border-radius: 30px;
    display: flex;
  }

  .container_prestamos table {
    border-radius: 5px;
  }
}

/* ==============PHONES VERTICAL============= */
@media only screen and (max-width: 480px) {
  .container_home {
    width: 100vw;
    background-color: #f8f6f6;
  }

  .form_home {
    height: 3.75em;
    margin-top: 1.8125em;
    margin-left: 3.125em;
  }

  .container_input_home {
    display: flex;
    background: #ffff;
    padding: 9px 22px 9px 26px;
    border-radius: 30px;
    border: 2px solid #cad3dc;
  }

  .input_search {
    width: 50vw;
    border: none;
    padding-left: 24px;
    background: transparent;
    background-size: 16px;
  }

  .input_search:focus {
    border: none;
  }

  .container_configuration,
  .container_notification,
  .container_perfil {
    width: 3.75em;
    height: 3.75em;
    border: 1px solid #dddddd;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
  }

  /* =======CARDS===== */
  .container_card_home {
    width: 100%;
    padding: 3vw;
    height: auto;
  }

  .card {
    width: 90vw;
    height: 35vh;
    padding: 40px;
    margin-left: 15px;
    border-radius: 20px;
  }

  .card_saldo {
    background: url(../../assets/fondo.avif);
  }

  .mi_saldo {
    font-size: 13.0236em;
    line-height: 16px;
    margin-left: 20px;
    display: flex;
  }

  .titular_vencimiento {
    display: flex;
  }

  .card_ingresos {
    display: flex;
    background: url(../../assets/55708631.png);
    background-position: 20%;
  }

  .card_egresos {
    background: url(../../assets/55708631.png);
    background-position: 20%;
  }

  .circle {
    width: 60px;
    height: 60px;
    background-color: #efefef;
    border-radius: 70%;
    display: flex;
    align-items: center;
  }

  /* =======ENDSCARDS======= */
  /* ========================== */
  /* ========================== */
  /* ========================== */
  /* ========================== */
  /* ========================== */
  /* =======BALANCE Y TRANSACTION======= */
  .container_balance {
    width: 90vw;
    border-radius: 30px;
    margin-bottom: 10px;
  }

  .container_transacciones {
    width: 90vw;
    height: 40vh;
    border-radius: 30px;
  }

  .container_prestamos {
    width: auto;
    height: auto;
    padding: 1vw;
    border-radius: 30px;
    display: flex;
  }

  .container_prestamos table {
    border-radius: 5px;
  }
}